# ===============================
# Build files
# ===============================
target/
*.log

# ===============================
# Maven
# ===============================
.mvn/wrapper/maven-wrapper.jar

# ===============================
# Environment variables
# ===============================
.env
src/main/resources/application-local.properties

# ===============================
# IntelliJ
# ===============================
.idea/
*.iml

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db